<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- import font from Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700&display=swap" rel="stylesheet">

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Scheduling</title>
  </head>
  <body>
    <!-- Header -->
    <header class="flex">
      <nav>
        <ul class="flex">
          <li><a href="/signup" class ="navLink">Sign Up</a></li>
          <li><a href="/login" class ="navLink">Log In</a></li>
          <li><a href="/logout" class ="navLink">Log Out</a></li>
        </ul>
      </nav>
    </header>
    
    <!-- Jumbotron area -->
    <main>
      <h1>Your Custom Running Plan</h1>
      <!-- <p>Follow the prompts to design your personal weekly running schedule</p> -->
    </main>
    <section>


      <table class="schedule">
        <tr>
          <th></th>          
          <th>Monday</th>          
          <th>Tuesday</th>          
          <th>Wednesday</th>        
          <th>Thursday</th>          
          <th>Friday</th>          
          <th>Saturday</th>          
          <th>Sunday</th>          
          <th>Totals</th>
          <th>Warm Up</th>
          <th>Cool Down</th>
        </tr>

        <% for(let week = 0; week < weeklySchedule.length; week++){ %>
          <tr>
            <th>Week: <%= week + 1 %></th>
            <% for(let day = 0; day < 7; day++){ %>
              <th><%= weeklySchedule[week][day].join(" ") %></th>
            <% } %>
            <th><%= weeklyTotals[week] %> Miles</th>
            <th><%= mileage[week][2] %></th>
            <th><%= mileage[week][3] %></th>
          </tr>
        <% } %>
        
      </table>
         
    </section>
    <footer>
        
    </footer>
  
    <!-- <script type="text/javascript" src="js/main.js"></script> -->
  </body>
</html>
